$color_white: #efefef;
$color_grey: #4d4d4d9c;
$color_green: rgb(164, 252, 171);
$color_dark_green: #36d48a;
$color_light_green: rgb(184, 255, 222);
$color_lightest_green: rgba(231, 255, 233, 0.7);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tektur", "Noto Sans TC", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  background-color: $color_white;
  overflow-x: hidden;
  nav {
    background-color: $color_white;
    position: sticky;
    top: 0;
    z-index: 5;
    ul {
      display: flex;
      li {
        list-style-type: none;
        margin: 1rem;
        a {
          color: black;
          text-decoration: none;
          transition: all 0.1s ease;
          &:hover {
            color: $color_dark_green;
            border-bottom: $color_dark_green 2px solid;
          }
        }
      }
    }
  }

  main {
    section.main-area {
      min-height: 70vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      div.intro {
        flex-basis: 450px;
        padding: 1rem;
        margin-right: 1.5rem;
        h1 {
          font-size: 3.5rem;
        }
        h2 {
          font-size: 1rem;
        }
        a {
          color: $color_white;
          background-color: $color_dark_green;
          padding: 0.25rem 0.5rem;
          font-size: 1.05rem;
          border-radius: 20px;
          display: inline-block;
          margin-top: 2rem;
          text-decoration: none;
          transition: all 0.2s ease;
          &:hover {
            transform: scale(1.2);
          }
        }
      }

      div.intro-img {
        margin-left: 1.25rem;
        flex-basis: 450px;
        img {
          width: 100%;
        }
      }
    }

    section.about-me {
      background-color: $color_lightest_green;
      padding: 5rem 0rem;
      display: flex;
      justify-content: center;

      section.description {
        width: 50%;
        text-align: center;
        h2 {
          margin-bottom: 2rem;
          font-size: 2rem;
        }
        .progress-bar-area {
          p {
            text-align: left;
            margin-top: 1rem;
          }
        }
      }
    }

    section.resume {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;

      section.table {
        flex: 5 0 500px;
        padding: 2rem;
        table {
          border-collapse: collapse;
          tr:nth-child(1) {
            border-top: 2px solid $color_grey;

            td:nth-child(1) {
              width: 20%;
            }
            td:nth-child(2) {
              width: 80%;
            }
          }
          tr {
            border-bottom: 2px solid $color_grey;
            transition: all 0.2s ease;
            &:hover {
              background-color: $color_light_green;
            }
            td {
              padding: 1rem;
            }
            td:first-child {
              text-align: center;
            }
          }
        }
      }

      section.picture {
        flex: 1 1 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        img {
          width: 80%;
        }
        div.greenRect1 {
          width: 30vw;
          height: 90vh;
          border: 10px solid $color_green;
          position: absolute;
          top: 30px;
          left: 80px;
          z-index: -1;
        }
        div.greenRect2 {
          width: 50vw;
          height: 40vh;
          border: 10px solid $color_green;
          position: absolute;
          top: 300px;
          left: -300px;
          z-index: -1;
        }
        div.greenRect3 {
          width: 50vw;
          height: 40vh;
          border: 10px solid $color_green;
          position: absolute;
          top: 0;
          left: -100px;
          z-index: -1;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  body {
    main {
      section.about-me {
        section.description {
          width: 80%;
        }
      }

      section.resume {
        overflow-x: auto;
        section.picture {
          div.greenRect1,
          div.greenRect2,
          div.greenRect3 {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  body {
    nav {
      position: static;
      ul {
        flex-direction: column;
        // text-align: center;
      }
    }
  }
}
